{% extends "index.html" %}
{% block title %} Experiment Data {% endblock %}
{% block activate_experiments %}
"nav__link active not-active"
{% endblock %}
{% block unique %}

<button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal">Add Client</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="POST">
      <input type="hidden" name="which-form" value="addClient">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input name="clientName" class="form-control form-control-lg" type="text" placeholder="Name">
          <br>
          <div class="form-check">
            <input class="form-check-input" value="emptyClient" onclick="checker()"  type="radio" name="flexRadioDefault" id="isEmptyClient">
            <label class="form-check-label" for="isEmptyClient">
              Empty Client
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="randomClient" onclick="checker()"   type="radio" name="flexRadioDefault" id="isRandomClient" checked>
            <label class="form-check-label" for="isRandomClient">
              Random Client
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="randomItems" onclick="checker()" type="radio" name="flexRadioDefault" id="isRandomItems" checked>
            <label class="form-check-label" for="isRandomItems">
              Client with random items
            </label>
              <div class="form-group">
                <input id="isRandomItems_readonly" name="amountItems" type="number" min="1" class="form-control" placeholder="Amount" readonly>
              </div>
            
          </div>
          <div class="form-check">
            <input class="form-check-input" value="allClientsWithItem" onclick="checker()" type="radio" name="flexRadioDefault" id="isAllClients" checked>
            <label class="form-check-label" for="isAllClients">
              All Clients with the following item in their history:
            </label>
              <div class="input-group mb-3">
                <select id="copy_disabled" class="selectpicker" name = "fromItemId" data-live-search="true" title="Search Item:" data-dropup-auto="false">
                  {% for item in itemsFromScenario %}
                    <option>{{item}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="isCopyFromExperiment" onclick="checker()" type="radio" name="flexRadioDefault" id="isCopyFromExperiment" checked>
            <label class="form-check-label" for="isCopyFromExperiment">
              Copy Client from Experiment
            </label>
              <div class="input-group mb-3">
                <select id="copy_disabled" name="copyClientName" class="selectpicker" data-live-search="true" title="Search Client:" data-dropup-auto="false">
                  {% for client in clients %}
                    <option>{{client.name}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="isCopyFromScenario" onclick="checker()" type="radio" name="flexRadioDefault" id="isCopyFromList" checked>
            <label class="form-check-label" for="isCopyFromScenario">
              Copy Client from Scenario
            </label>
              <div class="input-group mb-3">
                <select class="selectpicker" name="copyClientId" id="search_reset" data-live-search="true" title="Search Client:" data-dropup-auto="false">
                  {% for client in clientsFromScenario %}
                    <option>{{client}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
   </form>
  </div>
</div>
<br><br>
{% for client in clients %}
  <div class="card-group">
    <div class="card" style="background-color: lightgray;">
      <div class="card-body">
        <h5 class="card-title">Client: {{client.name}}</h5>
        <div class="row">
          <div class="column">
            <h5>Top-K Recommendations:</h5>
            <div style="height: 300px; overflow-y: scroll; width: 100%;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recommendations</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(client.recommendations|length) %}
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{client.recommendations[i]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
          <div class="column">
            <h5>History:</h5>
            <div style="height: 300px; overflow-y: scroll; width: 100%;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">History</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(client.history|length) %}
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{client.history[i]}}</td>
                    <td>
                      <form method="POST">
                        <input type="hidden" name="which-form" value="deleteItem">
                        <input type="hidden" name="clientName" value="{{client.name}}">
                        <button type="submit" name="itemId" value={{client.history[i]}} class="btn btn-danger">X</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <br>
            <select class="selectpicker" data-live-search="true" title="Search Item" data-dropup-auto="false">
              <option>mohamed</option>
              <option>mounir</option>
              <option>ferit</option>
              <option>mohamed</option>
              <option>mounir</option>
              <option>ferit</option>
              <option>mohamed</option>
              <option>mounir</option>
              <option>ferit</option>
              <option>mohamed</option>
              <option>mounir</option>
              <option>ferit</option>
            </select>
            <button type="button" class="btn btn-primary class">Add Item</button>
            <button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal2">Show
              Metadata</button>

            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Metadata</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div style="height: 300px; overflow-x: scroll; width: 100%;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Description</th>
                            <th scope="col">Data</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form method="POST">
        <input type="hidden" name="which-form" value="deleteClient">
        <button type="submit" name="clientName" value={{client.name}} class="btn btn-danger">X</button>
      </form>
    </div>
  </div>
<br>
{% endfor %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}