{% extends "index.html" %}
{% block title %} Home {% endblock %}
{% block activate_home %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<div>
    <img src="{{url_for('static', filename='home.png')}}" alt="">
</div>
<div class="d-flex flex-row bd-highlight mb-3 row_blocks">
    <div class="p-2 flex-fill bd-highlight">
      <div class="card text-center">
        <div class="card-header"><b>Datasets</b></div>
        <div class="card-body">
          <p class="card-text">Create your own datasets.</p>
          <a href="#Datasets" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
      <div class="card text-center">
        <div class="card-header"><b>Scenarios</b></div>
        <div class="card-body">
          <p class="card-text">Create scenarios from database.</p>
          <a href="#Scenarios" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
      <div class="card text-center">
        <div class="card-header"><b>Models</b></div>
        <div class="card-body">
          <p class="card-text">Choose an algorithm and train a model</p>
          <a href="#Models" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
      <div class="card text-center">
        <div class="card-header"><b>Experiments</b></div>
        <div class="card-body">
          <p class="card-text">Research, evaluate and compare your models</p>
          <a href="#Experiments" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
    <div class="p-2 flex-fill bd-highlight">
        <div class="card text-center">
          <div class="card-header"><b>Users</b></div>
          <div class="card-body">
            <p class="card-text">Search other Users and their datasets.</p>
            <a href="#Users" class="btn btn-primary">More info</a>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="card main">
    <h5 class="card-header"><a name="Users">Users</a></b></div></h5>
    <div class="card-body main">
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">back</a>
    </div>
</div>
<div class="card main">
    <h5 class="card-header"><a name="Datasets">Datasets</a></b></div></h5>
    <div class="card-body main">
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">back</a>
    </div>
</div>
<div class="card main">
    <h5 class="card-header"><a name="Scenarios">Scenarios</a></b></div></h5>
    <div class="card-body main">
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">back</a>
    </div>
</div>
<div class="card main">
    <h5 class="card-header"><a name="Models">Models</a></b></div></h5>
    <div class="card-body main">
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">back</a>
    </div>
</div>
<div class="card main">
    <h5 class="card-header"><a name="Experiments">Experiments</a></b></div></h5>
    <div class="card-body main">
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">back</a>
    </div>
</div>
{% endblock %}