{% extends "index.html" %}
{% block title %} Profile {% endblock %}
{% block activate_profile %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="{{url_for('static', filename='profile.png')}}">
                            </div>
                            <h5 class="name">{{currentUser.name}}</h5>
                            <h6 class="user-name"><b>Username: </b> {{currentUser.username}}</h6>
                            <h6 class="user-email"><b>Email: </b> {{currentUser.email}}</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body form change">
                    <form method="POST" name = "change">
                        <input type="hidden" name="which-form" value="change">
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Username</label>
                            <input type="text" class="form-control" name="Username">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Current Password</label>
                          <input type="password" class="form-control" name="Current">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">New Password</label>
                            <input type="password" class="form-control" name="New">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" name="Confirm">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}