{% extends "index.html" %}
{% block title %} Scenarios {% endblock %}
{% block activate_scenarios %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal">Make Scenario</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Scenario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="which-form" value="makeScenario">
            <div class="modal-body">
              <input name="scenarioName" class="form-control form-control-lg" type="text" placeholder="Name">
              <br>
              <div class="input-group mb-3">
                <select name = "datasetSelect" class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose Dataset</option>
                  {% for dataset in datasets %}
                    <option value={{dataset[0]}}>{{dataset[1]}}</option>
                  {% endfor %}
                </select>
              </div>
              <br>
              <b>Timestamp:</b><br>
              Start date: <input name = startDate type="text" id="from" name="from"> 
              End date: <input name = endDate type="text" id="to" name = "to">
              <br>
              <b>Users activity:</b><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>MIN</label>
                    <input name = "user_min" type="number" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>MAX</label>
                    <input name = "user_max" type="number" min="0" class="form-control">
                  </div>
                </div>
              
              </div>
              <br>
              <b>Items activity:</b><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>MIN</label>
                    <input name = "item_min" type="number" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>MAX</label>
                    <input name = "item_max" type="number" min="0" class="form-control">
                  </div>
                </div>
              
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Make</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  <h3>My Scenarios:</h3> 
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dataset</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for scenario in scenarios %}
        <tr>
          <th scope="row">{{scenario[0]}}</th>
          <td>{{scenario[1]}}</td>
          <td>{{scenario[2]}}</td>
          <td>{{scenario[3]}}</td>
          <td><a class="btn btn-primary" href="scenarios/{{scenario[1]}}" role="button">More</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
