{% extends "index.html" %}
{% block title %} Scenarios {% endblock %}
{% block activate_scenarios %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal">Make Scenario</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Scenario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control form-control-lg" type="text" placeholder="Name">
          <br>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose Dataset</option>
              {% for dataset in datasets %}
                <option value={{dataset[0]}}>{{dataset[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <b>Timestamp:</b><br>
          Start date: <input type="text" id="from" name="from"> 
          End date: <input type="text" id="to" name = "to">
          <br>
          <b>Users activity:</b><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>MIN</label>
                <input type="number" min="0" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>MAX</label>
                <input type="number" min="0" class="form-control">
              </div>
            </div>
          
          </div>
          <br>
          <b>Items activity:</b><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>MIN</label>
                <input type="number" min="0" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>MAX</label>
                <input type="number" min="0" class="form-control">
              </div>
            </div>
          
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Make</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <h3>My Scenarios:</h3> 
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Dataset</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>scenario1</td>
        <td>dataset1</td>
        <td>02/02/2021</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>scenario2</td>
        <td>dataset2</td>
        <td>03/03/2021</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>scenario3</td>
        <td>dataset2</td>
        <td>04/04/2021</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
