{% extends "index.html" %}
{% block title %} User {% endblock %}
{% block activate_users%}
"nav__link active not-active"
{% endblock %}
{% block unique %}
<h3>Datasets:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr onclick="showHideRow('hidden_rowdatasets1');">
            <th scope="row">1</th>
            <td>dataset1</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Follow</button>
            </td>
        </tr>
        <tr id="hidden_rowdatasets1" style="display: none;">
            <td colspan=3>
                <div class="card card-body">
                    <b>More Info:</b>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Interactions
                          <span class="badge badge-primary badge-pill">200</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Items
                          <span class="badge badge-primary badge-pill">5000</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Clients
                          <span class="badge badge-primary badge-pill">0</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        
        <tr onclick="showHideRow('hidden_rowdatasets2');">
            <th scope="row">2</th>
            <td>dataset2</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Follow</button>
            </td>
        </tr>
        <tr id="hidden_rowdatasets2" style="display: none;">
            <td colspan=3>
                <div class="card card-body">
                    <b>More Info:</b>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Interactions
                          <span class="badge badge-primary badge-pill">200</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Items
                          <span class="badge badge-primary badge-pill">5000</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Number of Clients
                          <span class="badge badge-primary badge-pill">0</span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h3>Experiments:</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr onclick="showHideRow('hidden_rowexperiments1');">
            <th scope="row">1</th>
            <td>Experiment1</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Follow</button>
            </td>
        </tr>
        <tr id="hidden_rowexperiments1" style="display: none;">
            <td colspan=3>
                <div class="card card-body">
                    info
                </div>
            </td>
        </tr>
        <tr onclick="showHideRow('hidden_rowexperiments2');">
            <th scope="row">2</th>
            <td>Experiment2</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Follow</button>
            </td>
        </tr>
        <tr id="hidden_rowexperiments2" style="display: none;">
            <td colspan=3>
                <div class="card card-body">
                    info
                </div>
            </td>
        </tr>
        <tr onclick="showHideRow('hidden_rowexperiments3');">
            <th scope="row">3</th>
            <td>Experiment3</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Follow</button>
            </td>
        </tr>
        <tr id="hidden_rowexperiments3" style="display: none;">
            <td colspan=3>
                <div class="card card-body">
                    info
                </div>
            </td>
        </tr>
    </tbody>
</table>
<style>
    table td:nth-child(1) {
        width: 33%;
    }

    table td:nth-child(2) {
        width: 33%;
    }

    table td:nth-child(3) {
        width: 33%;
    }
</style>
<script type="text/javascript">
    function showHideRow(row) {
        $("#" + row).toggle();
    }
</script>
{% endblock %}