{% extends "index.html" %}
{% block title %} Users {% endblock %}
{% block activate_users%}
"nav__link active not-active"
{% endblock %}
{% block unique %}
<form class="form-inline">
  <input class="form-control mr-sm-2 search_width" id="input" onkeyup="filter()" type="text" placeholder="Search">
</form>
<br><br>
<h3>Users:</h3>
<table class="table" id="table_user">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{user[0]+1}}</th>
      <td>{{user[1].username}}</td>
      <td><a class="btn btn-primary" href="/users/{{user[1].username}}" role="button">More</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}