{% extends "interface.html" %}
{% block title %} Home {% endblock %}
{% block content  %}

<!-- navigation -->
<nav class="navbar nav-tabs navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{url_for('views.home')}}">PPDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('views.home')}}"> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('views.about')}}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('views.contact')}}">Contact</a>
        </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#"> Log out</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Side navigation -->




<div class="sidenav" >
    <a {% block activate_databases %}  {% endblock %} href="{{url_for('views.datasets')}}">Datasets</a>
    <a {% block activate_scenarios %}  {% endblock %} href="{{url_for('views.scenarios')}}">Scenarios</a>
    <a {% block activate_models %}  {% endblock %} href="{{url_for('views.models')}}">Models</a>
    <a {% block activate_experiments %}  {% endblock %} href="{{url_for('views.experiments')}}">Experiments</a>
</div>


    
{% endblock %}
