{% extends "interface.html" %}
{% block title %} Home {% endblock %}
{% block content  %}

<!-- navigation -->
<nav class="navbar nav-tabs navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">PPDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('views.home')}}"> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#"> Log out</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Side navigation -->

  <div class="sidenav">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="{{url_for('views.datasets')}}" role="tab" aria-controls="v-pills-datasets" aria-selected="true">Datasets</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{{url_for('views.scenarios')}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Scenarios</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{url_for('views.models')}}" role="tab" aria-controls="v-pills-messages" aria-selected="false" >Models</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{url_for('views.experiments')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Experiments</a>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-datasets" role="tabpanel" aria-labelledby="v-pills-datasets-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
  </div>  
  
  <!-- Page content -->
  <div class="main">
    
  </div>
  {% endblock %}
