{% extends "interface.html" %}
{% block title %} Home {% endblock %}
{% block content  %}

<!-- navigation -->
<nav class="navbar nav-tabs navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{url_for('views.home')}}">PPDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class={% block home %}"nav-item"{% endblock %}>
            <a class="nav-link" href="{{url_for('views.home')}}"> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class={% block about %}"nav-item"{% endblock %}>
            <a class="nav-link" href="{{url_for('views.about')}}">About</a>
        </li>
        <li class= {% block contact %}"nav-item"{% endblock %}>
            <a class= "nav-link" href="{{url_for('views.contact')}}">Contact</a>
        </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#"> Log out</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Side navigation -->





<div class="row sidenav">
  <div class="col-3 temp">
    <div class="nav flex-column nav-pills temp1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class= {% block activate_datasets %} "nav-link" {% endblock %}  href="{{url_for('views.datasets')}} "role="tab" aria-selected="false">Datasets</a>
      <a class= {% block activate_scenarios %} "nav-link" {% endblock %} href="{{url_for('views.scenarios')}}" role="tab" aria-selected="false">Scenarios</a>
      <a class= {% block activate_models %} "nav-link" {% endblock %}   href="{{url_for('views.models')}}" role="tab" aria-selected="false">Models</a>
      <a class= {% block activate_experiments %} "nav-link" {% endblock %} href="{{url_for('views.experiments')}}" role="tab" aria-selected="false">Experiments</a>
    </div>
  </div>
</div>


    
{% endblock %}
