{% extends "interface.html" %}
{% block content %}
<!-- navigation -->
<nav class="navbar nav-tabs navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{url_for('auth.login')}}">PPDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class={% block login %}{% endblock %}>
          <a class="nav-link" href="{{url_for('auth.login')}}">Log in </a>
        </li>
        <li class={% block signup %}{% endblock %}>
          <a class="nav-link" href="{{url_for('auth.signup')}}">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block unique %}
  {% endblock %}
{% endblock %}