<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <form method="POST">
        <div class= "box">
            <img src="{{ url_for('static',filename='logo.png') }}">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="passwordConf" placeholder="Confirm Password">
            <button type="submit" class="signup">Sign up</button>
        </div>
    </form>
</body>
</html>
