{% extends "index.html" %}
{% block title %} Models {% endblock %}
{% block activate_models %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal">Make model</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Model</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-inline">
                <input class="form-control mr-sm-2 search_width" type="search" placeholder="Search Scenario" aria-label="Search">
                <button class="btn btn-primary class" type="submit">Search</button>
            </form>
        </div>
        <div class="form-group selection">
            <select class="form-control" id="sel1">
              <option>Choose an algorithm</option>
              <option>Algorithm1</option>
              <option>Algorithm2</option>
              <option>Algorithm3</option>
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Make</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <h3>My Models:</h3> 
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Scenario</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>model1</td>
        <td>scenario1</td>
        <td>02/02/2021</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>model2</td>
        <td>scenario2</td>
        <td>03/03/2021</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>model3</td>
        <td>scenario3</td>
        <td>04/04/2021</td>
      </tr>
    </tbody>
  </table>
{% endblock %}