{% extends "index.html" %}
{% block title %} Profile {% endblock %}
{% block activate_profile %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="{{url_for('static', filename='profile.png')}}">
                            </div>
                            <h5 class="name">Name</h5>
                            <h6 class="user-name"><b>username: </b> test</h6>
                            <h6 class="user-email"><b>Email: </b> test@domain.com</h6>
                            <h6 class="user-id"><b>ID: </b>123</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">username</label>
                            <input type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Current Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}