{% extends "index.html" %}
{% block title %} Scenarios {% endblock %}
{% block activate_scenarios %} 
"nav__link active not-active"
{% endblock %}
{% block unique %}
<button type="button" class="btn btn-primary class" data-toggle="modal" data-target="#exampleModal">Make Scenario</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Scenario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input class="form-control form-control-lg" type="text" placeholder="Name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Make</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
